.statItem {
    text-align: center;
    padding:10px;
    margin:10px;
    border: solid black 1px;
}

.statItem .value {
    display: block;
    font-size: 95px;
}

.statItem .desc {
    display: block;
}